
.my-control {
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 10px;
    background-color : white;
    }
    
.button-class {
    padding : 2px;
    margin-top : 5px;
    width : 50px;
    }

.input-number {
    width : 60px;
    }

/* Couche CSS du template graphiques.html */
.graph-container {
    margin-bottom: 80px; 
    }

#diagrammeGenres {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    display: block;
    }
#diagrammeTypes {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    display: block;
    }
/* Titres des diagrammes */
    #titre {
    font-family: Verdana;
    text-align: center;
    }
.presentation {
    font-family: Verdana;
    text-align: center;
    font-size: large;
    }
/* Titre de la page, et gestion du logo */
#header {
    font-family: Verdana;
    text-align: center;
    /*color: rgb(246, 190, 8);*/
    }

.logo {
    display: block;
    margin: 0 auto; /* Pour centrer horizontalement */
    max-width: 20%; /* Pour réduire la taille à 10% de la largeur de son conteneur */
    }

.custom-bg-color {
    background-color: #5EAFCD;
    }

.text-center {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    }