
.my-control {
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 10px;
    background-color : white;
    }
    
.button-class {
    padding : 2px;
    margin-top : 5px;
    width : 50px;
    }

.input-number {
    width : 60px;
    }

/* Couche CSS du template graphiques.html */

#diagrammeGenres {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    display: block;
    }
#diagrammeTypes {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    display: block;
    }
/* Titres de la page et des diagrammes */

#titre, #header {
    text-align: center;
    }
.presentation, .legend {
    text-align: justify;
    }

/*bandeau principal*/
/*police d'écriture*/
.maison-des-illustres-title {
        font-family: 'Inherit';
        text-align: center;
    }

/*logo*/
.logo {
    display: block;
    margin: 0 auto;
    max-width: 20%; 
    }

.custom-bg-color {
    background-color: #5EAFCD;
    }

.text-center {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.navbar {
        background-color: #5eafcd6e;
        border-radius: 15px;
        margin-left: 30px;
        margin-right: 30px;
    }
    
.navbar-brand, .nav-link {
        color:#021820;
    }

    