
{% extends "partials/conteneur.html" %}

{% block body %}

<section class="padding-lg">
    <div class="container">
        <div>
            <div style="text-align: center;">
                <h1>Au cœur du patrimoine français : les maisons des illustres</h2>
            </div>
            <br/>
            <div style="text-align: justify;">
                <h3>Présentation du label</h3>

                <p>Le label "Maisons des Illustres" a été instauré en France dans le but de mettre en lumière des demeures remarquables ainsi que les personnalités qui les ont habitées, en signalant au public leur vocation de conservation de collections liées à ces personnalités. 
                    Créé par le ministre de la Culture et de la Communication Frédéric Mitterrand en septembre 2011, ce label est valide pour une période de cinq ans, renouvelable, et implique que les édifices soient ouverts au moins 40 jours par an, sans avoir une vocation principalement commerciale. 
                    En 2022, 244 établissements labellisés sont répertoriés, incluant certains situés à l'étranger.</p>

                <p>Notre plateforme se focalise principalement sur les maisons présentes en France.</p>

                <h3>Découvrez les illustres et leurs maisons</h3>

                <p>Notre objectif est de promouvoir les lieux labellisés et les personnalités qui y sont associées. 
                
                <p>Explorez avec la <a href="{{url_for('carte')}}">carte</a> interactive, dotée de multiples fonctionnalités pour une recherche approfondie et agréable.</p>
                <p>Appuyez-vous sur les <a href="{{url_for('graphiques')}}">graphiques</a> interactifs popur découvrir les subtilité et la richesse du label.</p>
                <p>Affinez vos recherches grâce au <a href="{{url_for('recherche')}}">catalogue de recherche</a> et ses filtres sur les personnes, les résidences associées, la localisation géographique ou encore les labels complémentaires.</p>  
            </div>
        </div>
        
        <div style="text-align: justify;">
            <h3>Contribuez à l'enrichissement des données</h3>
                
            <p>Vpus souhaitez contribuer à l'enrichissement de nos données ? Vous avez la possibilité de le faire via la gestion des enregistrements en ajoutant de nouvelles résidences (voir l'onglet <a href="{{url_for('insertion_maisons')}}">insérer une maison</a>) ou les personnes correspondantes (voir l'onglet <a href="{{url_for('insertion_personnes')}}">insérer une personne</a>).</p>
        </div>
    </div>
</section>

{%endblock%}