
{% extends "partials/conteneur.html" %}

{% block body %}

<section class="padding-lg">
    <div class="container">
        <div>
            <div style="text-align: center;">
                <h1>Au cœur du patrimoine français : les maisons des illustres</h2>
            </div>
            <br/>
            <div style="text-align: justify;">
                <h3>Présentation du label</h3>

                <p>Le label "Maisons des Illustres" a été instauré en France dans le but de mettre en lumière des demeures remarquables ainsi que les personnalités qui les ont habitées, en signalant au public leur vocation de conservation de collections liées à ces personnalités. Créé par le ministre de la Culture et de la Communication Frédéric Mitterrand en septembre 2011, ce label est valide pour une période de cinq ans, renouvelable, et implique que les édifices soient ouverts au moins 40 jours par an, sans avoir une vocation principalement commerciale. En 2022, on compte 244 établissements labellisés, incluant certains situés à l'étranger.</p>

                <p>Notre plateforme se focalise principalement sur les maisons présentes en France.</p>

                <h3>Découvrir les illustres et leurs maisons : le catalogue de recherche</h3>

                <p>Notre objectif est de promouvoir les lieux labellisés et les personnalités qu'ils représentent, tout en facilitant leur localisation pour une meilleure accessibilité. 
                
                <p>Nous vous proposons une exploration interactive du label à travers une carte et des graphiques, tout en vous laissant la possibilité d'effectuer des recherches spécifiques sur les personnalités et leurs résidences associées via notre catalogue de recherche.</p>    
            </div>
        </div>
        
        <div style="text-align: justify;">
            <h3>Contribuez à l'enrichissement des données</h3>
                
            <p>Vous avez la possibilité d'enrichir notre base de données en ajoutant de nouvelles résidences (voir l'onglet "insérer une maison") et les personnes correspondantes (voir l'onglet "insérer une personne").</p>
        </div>
    </div>
</section>

{%endblock%}