{% extends "partials/conteneur.html" %}

{% block body %}
 
<div id="maCarte" style="height: 700px;"></div>


<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

<script>
    var mymap = L.map('maCarte').setView([46.603354, 1.8883335], 6);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19
  }).addTo(mymap);

  // Creation de l'objet geojson
  let geojson_data = {{ donnees | safe }};
;

  // Ajout des données de l'objet GEOJSON à la carte
let layers = L.geoJSON(geojson_data, {
    onEachFeature: function (feature, layer) {
        layer.bindPopup(feature.properties.popup);
    }
}).addTo(mymap);

//Classe gérant l'interface de filtrage

 let MyControlClass =  L.Control.extend({

options: {
  position: 'topright'
},

// Création de l'interface

onAdd: function(mymap) {

  this.mymap = mymap;

  let div = L.DomUtil.create('div', 'leaflet-bar my-control');

  let title = L.DomUtil.create('h3', '', div);
    title.innerHTML = "Filtrer : ";

		// Champ date minimal
    let divMin = L.DomUtil.create('div', '', div);
    divMin.innerHTML = "Date de naissance de la personne : <br>";
    let labelMin = L.DomUtil.create('label', '', divMin);
    labelMin.innerHTML = "Année Min : ";
    let inputMin = L.DomUtil.create('input', 'input-number', divMin);
    inputMin.type = "number";
    inputMin.value = 1200;

		// Champ date maximal
    let divMax = L.DomUtil.create('div', '', div);
    let labelMax = L.DomUtil.create('label', '', divMax);
    labelMax.innerHTML = "Année Max : ";
    let inputMax = L.DomUtil.create('input', 'input-number', divMax);
    inputMax.type = "number";
    inputMax.value = 2000;

    // Menu déroulant pour le filtre sur le genre
    let divGenreDropdown = L.DomUtil.create('div', '', div);
    divGenreDropdown.innerHTML = "Filtrer par le genre de l'illustre : ";

    let selectGenre = L.DomUtil.create('select', 'dropdown', divGenreDropdown);

    // Ajouter des options
    addOptionToSelect(selectGenre, "Tous les genre", ""); // Option pour afficher tous les domaines
    addOptionToSelect(selectGenre, "femmes", "fem");
    addOptionToSelect(selectGenre, "hommes", "masc");
    addOptionToSelect(selectGenre, "couples, famille et autres", "couple/famille");
    let selectedGenre = selectGenre.value;

		// Checkbox des domaines
    let divType = L.DomUtil.create('div', '', div);
    divType.innerHTML = "Labels additionnels : ";

    let divTypeMus = L.DomUtil.create('div', '', divType);
    let inputMus = L.DomUtil.create('input', '', divTypeMus);
    inputMus.type = "checkbox";
    inputMus.checked = true;
    let labelMus = L.DomUtil.create('label', '', divTypeMus);
    labelMus.innerHTML = " Musée de France";

    let divTypeClass = L.DomUtil.create('div', '', divType);
    let inputClass = L.DomUtil.create('input', '', divTypeClass);
    inputClass.type = "checkbox";
    inputClass.checked = true;
    let labelClass = L.DomUtil.create('label', '', divTypeClass);
    labelClass.innerHTML = " Monument Classé";

    let divTypeInscr = L.DomUtil.create('div', '', divType);
    let inputInscr = L.DomUtil.create('input', '', divTypeInscr);
    inputInscr.type = "checkbox";
    inputInscr.checked = true;
    let labelInscr = L.DomUtil.create('label', '', divTypeInscr);
    labelInscr.innerHTML = " Monument Inscrit";

    // Menu déroulant pour le filtre des domaines
    let divTypeDropdown = L.DomUtil.create('div', '', div);
    divTypeDropdown.innerHTML = "Filtrer par Domaine : ";

    let selectDomain = L.DomUtil.create('select', 'dropdown', divTypeDropdown);

    // Ajoutez des options pour chaque domaine
    addOptionToSelect(selectDomain, "Tous les domaines", ""); // Option pour afficher tous les domaines
    addOptionToSelect(selectDomain, "Littérature et idées", "Littérature et idées");
    addOptionToSelect(selectDomain, "Sciences et industrie", "Sciences et industrie");
    addOptionToSelect(selectDomain, "Arts et architecture", "Arts et architecture");
    addOptionToSelect(selectDomain, "Histoire et politique", "Histoire et politique");
    addOptionToSelect(selectDomain, "Musique, théâtre et cinéma", "Musique, théâtre et cinéma");
    let selectedDomaine = selectDomain.value;


    // Fonction pour ajouter une option au menu déroulant
    function addOptionToSelect(select, label, value) {
        let option = L.DomUtil.create('option', '', select);
        option.innerHTML = label;
        option.value = value;
}

		// Bouton de lancement de l'action de filtrage
    var buttonFilter = L.DomUtil.create('button', 'button-class', div);
    buttonFilter.innerHTML = "Filter";

    L.DomEvent.on(buttonFilter, 'click', function() { this.filter(parseInt(inputMin.value), parseInt(inputMax.value), inputMus.checked, inputClass.checked, inputInscr.checked, selectDomain.value, selectGenre.value); }, this);

    return div;
  },

//filtrer les données du GeoJson
filter(startDate, endDate, inputMusChecked, inputClassChecked, inputInscrChecked, selectedDomaine, selectedGenre) {
    mymap.removeLayer(layers);

    layers = L.geoJSON(geojson_data,
    {
        filter: function (feature) {
          console.log("Selected Domain:", selectedDomaine);
          console.log("Feature Domain:", feature.properties.domaine);
          console.log("genre sélectionne : ", selectedGenre)
          console.log("genre du feature : ", feature.properties.genre)
          if (feature.properties.ddn_pers !== null) {
            if (startDate && endDate) {
                if (endDate) {
                    if (!(feature.properties.ddn_pers >= startDate && feature.properties.ddn_pers <= endDate)) {
                        return false;
                    }
                } else if (feature.properties.ddn_pers < startDate) {
                    return false;
                }
            }
        }
            if(feature.properties.museeFrance === true && !inputMusChecked) {
             return false;
            }
            else if(feature.properties.monClasse === true && !inputClassChecked) {
             return false;
            }
            else if(feature.properties.monInscrit === true && !inputInscrChecked) {
             return false;
            }

            if (selectedDomaine !== "" && selectedDomaine !== feature.properties.domaine) {
              return false;
            }

            if (selectedGenre !== "" && selectedGenre !== feature.properties.genre) {
              return false;
            }

            return true;
        }, 
        onEachFeature: function (feature, layer) {
          layer.bindPopup(feature.properties.popup);
        }
    }).addTo(mymap);
},

  onRemove: function(mymap)
  {
  }
});

// Ajout de l'interface utilisateur à la carte
let myControl = new MyControlClass().addTo(mymap);


</script>

{% endblock %}