{% extends "partials/conteneur.html" %}

{% block body %}


<div class="container mt-5">
    <h1 id="header" class="text-center mb-4">Page des graphiques</h1>
    <div class="presentation">
        <p>Cette page présente deux datavisualisations asynchrones adossées à notre base de données des Maisons des Illustres.</p> 
        <p>Le <a href="#diagrammeGenres">premier graphique</a> reflète la proportion (en pourcentages) d'hommes, de femmes et de couples ou familles parmi les personnages "illustres". 
        <br>Il permet de mettre en évidence la part largement plus importante d'hommes.</p>
        <p> Le <a href="#diagrammeTypes">second graphique</a> se concentre sur la répartition (en chiffres absolus) des différents domaines intellectuels auxquels sont rattachées
        les Maisons de notre base. 
        <br>Il révèle quant à lui une relative variété des profils.</p>
    </div>

    <!-- Premier graphique (Genres - Pie) -->
    <div class="graph-container mt-4">
        <h2 id="titre" class="text-center">Répartition des genres des Illustres</h2>
        <canvas id="diagrammeGenres" width="400" height="400"></canvas>
    </div>
    <!-- Deuxième graphique (Domaines - Doughnut) -->
    <div class="graph-container mt-4">
        <h2 id="titre" class="text-center">Répartition des domaines des Maisons des Illustres</h2>
        <canvas id="diagrammeTypes" width="400" height="400"></canvas>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Initialisation du premier graphique (Genres - Pie/camembert)
        var ctxGenres = document.getElementById('diagrammeGenres').getContext('2d');
        var diagrammeGenres = initializeChart(ctxGenres, '{{ labels_genres | tojson | safe }}', '{{ counts_genres | tojson | safe }}', 'pie');

        // Initialisation du deuxième graphique (Domaines - Doughnut)
        var ctxTypes = document.getElementById('diagrammeTypes').getContext('2d');
        var diagrammeTypes = initializeChart(ctxTypes, '{{ labels_types | tojson | safe }}', '{{ counts_types | tojson | safe }}', 'doughnut');

        // Mise à jour des graphiques toutes les 5 secondes
        setInterval(function () {
            updateChart(diagrammeGenres, '/update_chart_data_genres');
            updateChart(diagrammeTypes, '/update_chart_data_types');
        }, 5000);
    });

    function initializeChart(ctx, labels, counts, chartType) {
        labels = JSON.parse(labels.replace("None", "null"));
        counts = JSON.parse(counts.replace("None", "null"));

        var total = counts.reduce((a, b) => a + b, 0);

        // Choix du format en fonction du type de graphique
        var datasetLabel = chartType === 'pie' ? 'Pourcentage' : 'Nombre brut';
        var formatter = chartType === 'pie' ?
            function (value, context) {
                return value.toFixed(2) + '%';
            } :
            function (value, context) {
                return value;
            };

        var pourcentages = counts.map(count => (count / total) * 100);

        return new Chart(ctx, {
            type: chartType,
            data: {
                labels: labels,
                datasets: [{
                    data: chartType === 'pie' ? pourcentages : counts,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.7)',
                        'rgba(54, 162, 235, 0.7)',
                        'rgba(255, 206, 86, 0.7)',
                        'rgba(75, 192, 192, 0.7)',
                        'rgba(153, 102, 255, 0.7)',
                        'rgba(144, 238, 144, 0.7)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                maintainAspectRatio: true,
                responsive: true,
                aspectRatio: 1,
                plugins: {
                    datalabels: {
                        color: '#fff',
                        display: function (context) {
                            return context.dataset.data[context.dataIndex] !== 0;
                        },
                        formatter: formatter
                    }
                },
                
            }
        });
    }

    function updateChart(chart, updateRoute) {
        // requête AJAX pour obtenir les données mises à jour du serveur
        fetch(updateRoute)
            .then(response => response.json())
            .then(data => {
                // mise à jour les données du graphique
                chart.data.labels = data.labels;
                chart.data.datasets[0].data = data.counts;

                // mise à jour du graphique avec la méthode .update() de Chart JS
                chart.update();
            });
    }
</script>

{% endblock %}
