
{% extends "partials/conteneur.html" %}

{% block body %}

    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Présentation de la maison {{ donnees.denomination }}</h1>

    {%if donnees%}

<div id="maison">

    <div class="info">
        <label>Nom :</label>
        <span>{{donnees.denomination}}</span>
    </div>
    
    <div class="info">
        <label>adresse : </label>
        <span>{{donnees.adresse}} {{donnees.code_postal}} {{donnees.commune}} {{donnees.region}} {{donnees.pays}}</span>
    </div>


    {% if donnees.type is not none and donnees.type != '' %}
    <div class="info">
        <label>Domaine de virtuosité dans lequel l'illustre laissa une trace indélébile :</label>
        <span>{{donnees.type.value}}</span>
    </div>
{%endif%}

{%if donnees.museeFrance == 1%}
    <div class="info">
        <span>Cette maison est aussi Musée de France</span>
    </div>
{%endif%}

{%if personne%}
    <div class="info">
        <label>Nom de la personne :</label>
        <span>{{personne.nomIllustre}}</span>
    </div>

    <div class="info">
        <label>Genre de la personne :</label>
        <span>{{personne.genre.value}}</span>
    </div>

    <div class="info">
        <label>Date de naissance :</label>
        <span>{{personne.ddn}}</span>
    </div>

    <div class="info">
        <label>Date de mort :</label>
        <span>{{personne.ddm}}</span>
    </div>

    <div class="info">
        <a href="{{personne.article}}">Consultez sa page wikipedia</a>
    </div>

    <div class="info">
        <img src="{{personne.image}}" alt="image de l'illustre">
    </div>

</div>
</div>
{%endif%}

</div>
{% endif %}

{%endblock%}