
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Présentation du Personnage</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        #personnage {
            max-width: 600px;
            margin: 0 auto;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        .info {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>

    {%if donnees%}

<div id="maison">
    <h1>Présentation de la maison {{donnees.denomination}}</h1>

    <div class="info">
        <label>Nom :</label>
        <span>{{donnees.denomination}}</span>
    </div>

    <div class="info">
        <label>adresse : </label>
        <span>{{donnees.adresse}} {{donnees.code_postal}} {{donnees.commune}} {{donnees.region}} {{donnees.pays}}</span>
    </div>

    <div class="info">
        <label>Domaine de virtuosité dans lequel l'illustre laissa une trace indélébile :</label>
        <span>{{donnees.type}}</span>
    </div>

{%if donnees.museeFrance == 1%}
    <div class="info">
        <span>Cette maison est aussi Musée de France</span>
    </div>
{%endif%}


    <div class="info">
        <label>Identifiant Wikidata :</label>
        <span>{{donnees.idWikidata}}</span>
    </div>

    {%if personnes_associees%}

    <div class="info">
        <label>Nom de la personne :</label>
        <span>{{personnes_associees.nomIllustre}}</span>
    </div>

    {% endif %}


</div>
{% endif %}

</body>
</html>