{% extends "partials/conteneur.html" %}

{% block body %}

<div class="container">

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">

            <h2 data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                aria-controls="collapseExample" style="text-align: center;">
                Insérer une maison
        </h2>
            <div class="collapse show" id="collapseExample">
                <div class="card card-body">
                    {% include "partials/formulaires/insertion_maisons.html" %}
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>

</div>

{% endblock %}