
{% extends "partials/conteneur.html" %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="heading heading-icon" style="text-align: center;">
                    <h2>Gestion des personnes</h2>
                </div>
                <br>
                <div class="row">
                    <div>
                        <div class="list-group" id="list-tab" role="tablist">
                            {% if donnees.prev_num %}
                                <a class="list-group-item list-group-item-action btn btn-outline-dark {% if donnees.page == 1 %}disabled{% endif %}" 
                                   id="list-list-prev" href="{{ url_for('personnes', page=donnees.prev_num) }}">
                                    &laquo; Page précédente
                                </a>
                            {% endif %}
                            
                            <ul class="list-group">
                                {% for personne in donnees.items %}
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-6">
                                                {{ personne.nomIllustre }} ({{ personne.ddn }}-{{ personne.ddm }})
                                            </div>
                                            <div class="col-md-3">
                                                <div class="btn-group btn-group-sm">
                                                    <form action="{{ url_for('sup_personne', nom_personne=personne.nomIllustre) }}" method="post" class="del-component">
                                                        <button class="btn btn-danger" type="submit"> 
                                                            <input type="hidden" value="{{ personne.nomIllustre }}" name="maison_a_supp">
                                                            <i class="fa fa-trash"></i> Supprimer
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="btn-group btn-group-sm">
                                                    <a href="{{ url_for('update_personne', nom_personne=personne.nomIllustre) }}">
                                                        <button class="btn btn-info" type="submit"> 
                                                            <i class="fa fa-pencil"></i> Modifier
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            

                            {% if donnees.next_num %}
                                <a class="list-group-item list-group-item-action btn btn-outline-dark{% if donnees.page == donnees.pages %} disabled{% endif %}" 
                                   id="list-list-next" href="{{ url_for('personnes', page=donnees.next_num) }}">
                                    Page suivante &raquo;
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
