
{% extends "partials/conteneur.html" %}

{% block body %}

<section class="padding-lg">
    <div class="container">
        <div>
            <div style="text-align: center;">
                <h1>Au cœur du patrimoine français : les maisons des illustres</h2>
            </div>
            <div style="text-align: justify;">
                <h3>Présentation du label</h3>

                <p>Le label "Maisons des Illustres" a été instauré en France dans le but de mettre en lumière des demeures remarquables ainsi que les personnalités qui les ont habitées, en signalant au public leur vocation de conservation de collections liées à ces personnalités. Créé par le ministre de la Culture et de la Communication Frédéric Mitterrand en septembre 2011, ce label est valide pour une période de cinq ans, renouvelable, et implique que les édifices soient ouverts au moins 40 jours par an, sans avoir une vocation principalement commerciale. En 2022, on compte 244 établissements labellisés, incluant certains situés à l'étranger.</p>

                <p>Notre plateforme se focalise principalement sur les maisons présentes en France.</p>

                <h3>Découvrir les illustres et leurs maisons : le catalogue de recherche</h3>

                <p>Notre objectif est de promouvoir les lieux labellisés et les personnalités qu'ils représentent, tout en facilitant leur localisation pour une meilleure accessibilité. 
                
                <p>Nous vous proposons une exploration interactive du label à travers une carte et des graphiques, tout en vous laissant la possibilité d'effectuer des recherches spécifiques sur les personnalités et leurs résidences associées via notre catalogue de recherche.</p>    
            </div>
        </div>
        <br>
        <div class="row">
            <!-- Colonne pour le catalogue des maisons -->
            <div class="col-md-6">
                <div class="list-group" id="list-tab" role="tablist">
                    {% if donnees.prev_num %}
                        <a class="list-group-item list-group-item-action btn btn-outline-dark {% if donnees.page == 1 %}disabled{% endif %}" 
                           id="list-list-prev" href="{{ url_for('maisons', page=donnees.prev_num) }}">
                            &laquo; Page précédente
                        </a>
                    {% endif %}
                    
                    <ul class="list-group">
                        {% for maisons in donnees.items %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a class="list-group-item list-group-item-action {% if loop.index == 1 %}active{% endif %}"
                                   href="{{ url_for('info_maisons', nom_maisons=maisons.denomination)}}" role="tab"
                                   aria-controls="{{maisons.denomination}}">
                                   {{maisons.denomination}}
                                </a>
                            
                                <div class="btn-group btn-group-sm">
                                    <form action="{{ url_for('sup_maison', nom_maison=maisons.denomination) }}" method="post" class="del-component">
                                        <button class="btn btn-danger" type="submit">
                                            <input type="hidden" value="{{ maisons.denomination }}" name="maison_a_supp">
                                            <i class="fa fa-trash"></i> Supprimer
                                        </button>
                                    </form>
                                </div>
                                <div class="btn-group btn-group-sm">
                                    <a href="{{ url_for('update_maisons', nom_maison=maisons.denomination) }}">
                                        <button class="btn btn-info" type="submit">
                                            <i class="fa fa-pencil"></i> Éditer
                                        </button>
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    
                    {% if donnees.next_num %}
                        <a class="list-group-item list-group-item-action btn btn-outline-dark{% if donnees.page == donnees.pages %} disabled{% endif %}" 
                           id="list-list-next" href="{{ url_for('maisons', page=donnees.next_num) }}">
                            Page suivante &raquo;
                        </a>
                    {% endif %}
                </div>
            </div>
            <!-- Fin de la colonne pour le catalogue des maisons -->
            
            <!-- Colonne pour le formulaire de recherche -->
            <div class="col-md-6">
                <div class="card">
                    <h3 class="card-header" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Effectuer une recherche 
                    </h3>
                    <div class="collapse show" id="collapseExample">
                        <div class="card-body">
                            {% include "partials/formulaires/recherche.html" %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin de la colonne pour le formulaire de recherche -->
        </div>
        <br/>
        <div style="text-align: justify;">
            <h3>Contribuez à l'enrichissement des données</h3>
                
            <p>Vous avez la possibilité d'enrichir notre base de données en ajoutant de nouvelles résidences (voir l'onglet "insérer une maison") et les personnes correspondantes (voir l'onglet "insérer une personne").</p>
        </div>
    </div>
</section>

{%endblock%}