
{% extends "partials/conteneur.html" %}

{% block body %}

<section class="padding-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-30">
                <div class="heading heading-icon">
                    <h2>Gestion des personnes</h2>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="list-group" id="list-tab" role="tablist">
                            {% if donnees.prev_num %}
                                <a class="list-group-item list-group-item-action btn btn-outline-dark {% if donnees.page == 1 %}disabled{% endif %}" 
                                   id="list-list-prev" href="{{ url_for('personnes', page=donnees.prev_num) }}">
                                    &laquo; Page précédente
                                </a>
                            {% endif %}

                            <ul class="list-group">
                                {% for personne in donnees.items %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        {{ personne.nomIllustre }} ({{ personne.ddn }}-{{ personne.ddm }})
                                        <div class="btn-group btn-group-sm">
                                            <form action="{{ url_for('sup_personne', nom_personne=personne.nomIllustre) }}" method="post" class="del-component">
                                                <button class="btn btn-danger" type="submit">
                                                    <input type="hidden" value="{{ personne.nomIllustre }}" name="maison_a_supp">
                                                    <i class="fa fa-trash"></i> Supprimer
                                                </button>
                                            </form>
                                        </div>
                                        <div class="btn-group btn-group-sm">
                                            <a href="#">
                                                <button class="btn btn-info" type="submit">
                                                    <i class="fa fa-pencil"></i> Éditer
                                                </button>
                                            </a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>

                            {% if donnees.next_num %}
                                <a class="list-group-item list-group-item-action btn btn-outline-dark{% if donnees.page == donnees.pages %} disabled{% endif %}" 
                                   id="list-list-next" href="{{ url_for('personnes', page=donnees.next_num) }}">
                                    Page suivante &raquo;
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
