{% extends "partials/conteneur.html" %}

{% block body %}

<div class="container">

    <!-- affichage en cas d'absence de résultats (lors du premier chargement de la page, ou d'absence de résultats suite à la recherche)-->
    {% if not donnees %}
    <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-8">

            <h3 data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                aria-controls="collapseExample">
                Effectuer une recherche<i class="fa-solid fa-caret-down"></i>
        </h3>
            <div class="collapse show" id="collapseExample">
                <div class="card card-body">
                    {% include "partials/formulaires/recherche.html" %}
                </div>
            </div>
        </div>
        <div class="col-sm-8"></div>
    </div>

    {%else%}
    <!--s'il y a des résultats-->
    <!--affichage caché du formulaire-->
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">

            <h3 data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                aria-controls="collapseExample">
                Afficher la recherche <i class="fa-solid fa-caret-down"></i>
        </h3>
            <div class="collapse " id="collapseExample">
                <div class="card card-body">
                    {% include "partials/formulaires/recherche.html" %}
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>

    <!-- affichage des résultats-->

    <section class="padding-lg">
        <div class="container">
            <div class="row heading heading-icon">
            <h2>résultats recherche</h2>
            </div>
            <br>
            <div class="row">
                <div class="col-4">

        <ul>
            {% for maisons in donnees %}
                <li>
                    <div>
                    <a class="list-group-item list-group-item-action {% if loop.index == 1 %}active{% endif %}"
                       href="{{ url_for('info_maisons', nom_maisons=maisons.denomination)}}" role="tab"
                       aria-controls="{{maisons.denomination}}">
                       {{maisons.denomination}}
                    </a>
                
        
        <div class="btn-group btn-group-sm">
            <form action="{{ url_for('sup_maison', nom_maison=maison_a_supp) }}" method=post class=del-component>
                <button class="btn btn-danger">
                    <input type=hidden value="{{ maisons.denomination }}" name=maison_a_supp>poubelle</input>
                </button>                            
            </form>
        </div>
        
        <div class="btn-group btn-group-sm">
            <a href="{{ url_for('update_maisons', nom_maison=maisons.denomination) }}">
                <button class="btn btn-info" type="submit">stylo</button>
            </form>
        </div>
        
        
                </div>
                </li>
            {% endfor %}
        </ul>
        
        

                    </div>
                </div>
            </div>

            </div>
        </section>

    {%endif%}



{% endblock %}