{% extends "partials/conteneur.html" %}

{% block body %}

<div class="container">

    <!-- affichage en cas d'absence de résultats (lors du premier chargement de la page, ou d'absence de résultats suite à la recherche)-->
    {% if not donnees %}
        {% if donnees_init %}
            <section class="padding-lg">
                <div class="container">
                    <div>
                        <div style="text-align: center;">
                            <h1>Catalogue des Maisons des Illustres</h2>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <!-- Colonne pour le catalogue des maisons -->
                        <div class="col-md-6">
                            <div class="list-group" id="list-tab" role="tablist">
                                {% if donnees_init.prev_num %}
                                    <a class="list-group-item list-group-item-action btn btn-outline-dark {% if donnees_init.page == 1 %}disabled{% endif %}" 
                                       id="list-list-prev" href="{{ url_for('recherche', page_num=donnees_init.prev_num) }}">
                                        &laquo; Page précédente
                                    </a>
                                {% endif %}
                                
                                <ul class="list-group">
                                    {% for maisons in donnees_init.items %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a class="list-group-item list-group-item-action {% if loop.index == 1 %}active{% endif %}"
                                               href="{{ url_for('info_maisons', nom_maisons=maisons.denomination)}}" role="tab"
                                               aria-controls="{{maisons.denomination}}">
                                               {{maisons.denomination}}
                                            </a>
                                        
                                            <div class="btn-group btn-group-sm">
                                                <form action="{{ url_for('sup_maison', nom_maison=maisons.denomination) }}" method="post" class="del-component">
                                                    <button class="btn btn-danger" type="submit">
                                                        <input type="hidden" value="{{ maisons.denomination }}" name="maison_a_supp">
                                                        <i class="fa fa-trash"></i> Supprimer
                                                    </button>
                                                </form>
                                            </div>
                                            <div class="btn-group btn-group-sm">
                                                <a href="{{ url_for('update_maisons', nom_maison=maisons.denomination) }}">
                                                    <button class="btn btn-info" type="submit">
                                                        <i class="fa fa-pencil"></i> Modifier
                                                    </button>
                                                </a>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                                {% if donnees_init.next_num %}
                            <a class="list-group-item list-group-item-action btn btn-outline-dark{% if donnees_init.page == donnees_init.pages %} disabled{% endif %}" 
                               id="list-list-next" href="{{ url_for('recherche', page_num=donnees_init.next_num) }}">
                                Page suivante &raquo;
                            </a>
                        {% endif %}
                            </div>
                        </div>
                        <!-- Fin de la colonne pour le catalogue des maisons -->
                        
                        <!-- Colonne pour le formulaire de recherche -->
                        <div class="col-md-6">
                            <div class="card">
                                <h3 class="card-header" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    Effectuer une recherche
                                </h3>
                                <div class="collapse show" id="collapseExample">
                                    <div class="card-body">
                                        {% include "partials/formulaires/recherche.html" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin de la colonne pour le formulaire de recherche -->
                    </div>
                </div>
            </section>
        {% endif %}
    {% else %}
    <!--s'il y a des résultats-->

    <section class="padding-lg">
        <div class="container">
            <div class="row heading heading-icon">
                <div class="col-12">
                    <h2>Résultats de la recherche</h2>
                </div>
            </div>
            <br>
            <div class="row">
                <!-- Colonne pour le résultat de la recherche -->
                <div class="col-md-6">
                    <div class="list-group" id="list-tab" role="tablist">
                        {% if donnees.items %} <!-- vérifie que la variable "donnees" contient des éléments -->
                            {% if donnees.prev_num %}
                                <a class="list-group-item list-group-item-action btn btn-outline-dark {% if donnees.page == 1 %}disabled{% endif %}" 
                                href="#" id="link_prev">
                                    &laquo; Page précédente
                                </a>
                            {% endif %}
                            
                            <ul class="list-group">
                                {% for maisons in donnees %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <a class="list-group-item list-group-item-action {% if loop.index == 1 %}active{% endif %}"
                                           href="{{ url_for('info_maisons', nom_maisons=maisons.denomination)}}" role="tab"
                                           aria-controls="{{maisons.denomination}}">
                                           {{maisons.denomination}}
                                        </a>
                                    
                                        <div class="btn-group btn-group-sm">
                                            <form action="{{ url_for('sup_maison', nom_maison=maisons.denomination) }}" method="post" class="del-component">
                                                <button class="btn btn-danger" type="submit">
                                                    <input type="hidden" value="{{ maisons.denomination }}" name="maison_a_supp">
                                                    <i class="fa fa-trash"></i> Supprimer
                                                </button>
                                            </form>
                                        </div>
                                        <div class="btn-group btn-group-sm">
                                            <a href="{{ url_for('update_maisons', nom_maison=maisons.denomination) }}">
                                                <button class="btn btn-info" type="submit">
                                                    <i class="fa fa-pencil"></i> Éditer
                                                </button>
                                            </a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% if donnees.next_num %}
                                <a class="list-group-item list-group-item-action btn btn-outline-dark{% if donnees.page == donnees.pages %} disabled{% endif %}" 
                                href="#" id="link_next">
                                    Page suivante &raquo;
                                </a>
                            {% endif %}
                        {% else %}
                            <div class="alert alert-warning text-justify" role="alert">
                                Aucun résultat trouvé.<br><br>
                                Vérifiez que la graphie de votre requête soit correcte ou renouvelez votre recherche en ajustant les filtres du formulaire ci-contre.
                                <!-- affichage d'un message "Aucun résultat trouvé" en cas de recherche infructueuse-->
                            </div>
                            <!-- Pop-up -->
                        <div class="modal fade" id="aucunResultatModal" tabindex="-1" aria-labelledby="aucunResultatModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="aucunResultatModalLabel">Aucun résultat trouvé</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-justify">
                                    Veuillez effectuer une nouvelle recherche en modifiant votre saisie ou en élargissant le périmètre de recherche grâce aux filtres.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                            
                        {% endif %}
                    </div>
                </div>
                <!-- Fin de la colonne pour l'affichage des résultats -->
                
                <!-- Colonne pour le formulaire de recherche -->
                <div class="col-md-6">
                    <div class="card">
                        <h3 class="card-header" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Affiner la recherche</i>
                        </h3>
                        <div class="collapse show" id="collapseExample">
                            <div class="card-body">
                                {% include "partials/formulaires/recherche.html" %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fin de la colonne pour le formulaire de recherche -->
            </div>
        </div>
    </section>

</div>


<script>
$(document).ready(function() {
    // Pour afficher le pop-up 
    $('#aucunResultatModal').modal('show');

    // Pour fermer le pop-up lorsqu'on clique sur la croix ou le bouton "Fermer"
    $('#aucunResultatModal .close, #aucunResultatModal .btn-danger').on('click', function () {
        $('#aucunResultatModal').modal('hide');
    });

    // Ajouter les événements aux boutons précédents et suivants
    $('#link_next').on('click', function(event) {
        event.preventDefault(); // Empêcher le comportement par défaut du lien
        var btnNext = document.getElementById('btn_next');
        btnNext.click(); // Déclencher manuellement le clic sur le bouton suivant caché
    });

    $('#link_prev').on('click', function(event) {
        event.preventDefault(); // Empêcher le comportement par défaut du lien
        var btnPrev = document.getElementById('btn_prev');
        btnPrev.click(); // Déclencher manuellement le clic sur le bouton précédent caché
    });
});

 
</script>

    {% endif %}

{% endblock %}
