<form action="{{url_for('insertion_personnes')}}" method="POST" name="insertion_personnes">
    {{ form.hidden_tag() }}

    <div class="form-group">
        <label for="id_wikidata">Entrer l'identifiant Wikidata de la personne : </label>
        {{ form.idWikidata(class_="form-control", placeholder_="Entrer l'identifiant Wikidata de la personne") }}
    </div>

    <div class="form-group">
        <label for="nom_Illustre">Entrer le nom et prénom de la personne Illustre : </label>
        {{ form.nomIllustre(class_="form-control", placeholder_="Entrer le nom et prénom de la personne") }}
    </div>

    <div class="form-group">
        <label for="ddn">Entrer l'année de naissance : </label>
        {{ form.ddn(class_="form-control", placeholder_="Entrer l'année") }}
    </div>

    <div class="form-group">
        <label for="ddm">Entrer l'année de mort : </label>
        {{ form.ddm(class_="form-control", placeholder_="Entrer l'année") }}
    </div>

    <div class="form-group">
        <label for="genre">Choisir le genre ou la catégorie : </label>
        {{ form.genre(class_="form-control") }}
    </div>

    <div class="form-group">
        <label for="image">Entrer l'adresse du lien vers l'image : </label>
        {{ form.image(class_="form-control", placeholder_="Entrer l'adresse du lien") }}
    </div>

    <div class="form-group">
        <label for="article">Entrer l'adresse du lien vers la page wikipedia de la personne : </label>
        {{ form.article(class_="form-control", placeholder_="Entrer l'adresse du lien") }}
    </div>

    <p><input type="submit" value="Insérer"></p>
</form>