<form action="{{url_for('recherche')}}" method="post" name="recherche" id="recherche">
    {{ form.hidden_tag() }}

    <div class="form-group">
        <label for="denomination">Dénomination du bâtiment : </label>
        {{ form.denomination(class_="form-control")}}
    </div>

    <div class="form-group">
        <label for="genre">Choisir le genre ou la catégorie : </label>
        {{ form.genre(class_="form-control") }}
    </div>

    <div class="form-group">
        <label for="region">Région d'appartenance : </label>
        {{ form.region(class_="form-control") }}
    </div>

    <div class="form-group">
        <label for="dpmt">Département d'appartenance : </label>
        {{ form.departement(class_="form-control") }}
    </div>

    <div class="form-group">
        <label for="type">Domaine de génie : </label>
        {{ form.type(class_="form-control") }}
    </div>

    <div class="form-group">
        <p>Cocher les labels additionnels : </p>
        <label for="musee_france">Le bâtiment est aussi Musée de France </label>
        {{ form.museeFrance() }}
    </div>

    <div class="form-group">
        <label for="monuments_inscrit">Le bâtiment est aussi Monument National Inscrit </label>
        {{ form.monumentsInscrits() }}
    </div>

    <div class="form-group">
        <label for="monuments_classes">Le bâtiment est aussi Monument National Classé </label>
        {{ form.monumentsClasses() }}
    </div>

    <div class="form-group">
        <label for="dpmt">Date de labellisation : </label>
        {{ form.date_label(class_="form-control") }}
    </div>

    <input type="hidden" name="page_num" value="{{ page_num }}">
    
    {%if donnees%}

    <!-- Bouton de soumission de formulaire pour la page précédente -->
    <div>{% if donnees.prev_num %}
        <button type="submit" name="prev" value="prev" class="btn btn-outline-dark">&laquo; Page précédente</button>
    {% endif %}</div>
    
    <!-- Bouton de soumission de formulaire pour la page suivante -->
    <div>{% if donnees.next_num %}
        <button type="submit" name="next" value="next" class="btn btn-outline-dark">Page suivante &raquo;</button>
    {% endif %}</div>


    {%endif%}

    <p><input type="submit" name="rech" value="Rechercher"></p>
    
</form>