<form action="{{url_for('update_personne', nom_personne=donnees.nomIllustre)}}" method="POST" name="update_personnes">
    {{ form.hidden_tag() }}

{%if donnees%}
    <div>
       <h1>Identifiant Wikidata : 
        {{donnees.idWikidata}}</h1>
    </div>

    <div class="form-group">
        <label for="id">Nom et prénom : </label>
        {{ form.nomIllustre(class_="form-control") }}
    </div>

    <div class="form-group">
        <label for="adresse">Date de naissance : </label>
        {{ form.ddn(class_="form-control") }}
    </div>

    <div class="form-group">
        <label for="code_postal">Date de mort : </label>
        {{ form.ddm(class_="form-control") }}
    </div>

    <div class="form-group">
        <label for="commune">Genre : </label>
        {{ form.genre(class_="form-control") }}
    </div>

    <div class="form-group">
        <label for="code_INSEE">Mettre une image : </label>
        {{ form.image(class_="form-control") }}
    </div>

    <div class="form-group">
        <label for="dpmt">Lien vers la page Wikipédia : </label>
        {{ form.article(class_="form-control") }}
    </div>


    {%endif%}

    <p><input type="submit" value="Mettre à jour"></p>
</form>